<div class="modal-content">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" id="close-modal"  type="button">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>

    <div class="modal-body">
      <div class = "well">
        <div class="row">
          <video
            id="vid1"
            autoplay
            class="video-js vjs-default-skin preview-video"
            controls
            width="1200" height="700"
            source src="https:<%= @video.url %>" type="video/mp4" 
          >
          </video>             
      </div>
    </div>

    <div class="modal-footer">
      <button aria-hidden="true" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
</div>