<%= provide(:title, 'users') %>
<div class="container-fluid container-admin-users">
  <div class="row">
    <div class="col-xs-12">
      <%= react_component("Users",  props: { users: @users }) %>
    </div>
  </div>    
</div>