<% provide(:title, 'Edit Video')%>
<div class = "container-fluid container-video-edit">
  <div class = "row">
    <div class = "col-md-2 col-md-offset-5">
      <%= render 'form' %>
    </div>
  </div>
</div>
