<%= provide(:title, 'videos') %>
<div class="container-fluid container-admin-videos">
  <div id="video-preview" class="modal container" style="position: relative;">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= react_component("Videos",  props: { videos: @videos }, prerender: true) %>
    </div>
  </div>    
</div>