<% provide(:title, 'Manual Video Addition')%>
<div class = "container-fluid container-admin-videos">
  <div class = "row">
  	<div class = "col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
  		<%= react_component("VideosForm",  props: { videosInfo: @videos_info }, prerender: true) %>
  	</div>
  </div>
</div>