<div class = "container-fluid container-upload-video">
  <div class = "row">
    <p id="notice" class="container-upload-video-notice"><%= notice %></p>
    <div class="container-upload-video-link"><%= link_to 'Return Home', root_path %></div>
  </div>
</div>
