<% provide(:title, 'Contact Inquiry Submitted')%>
<div class = "container-fluid container-contact">
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="row container-contact-message">
            <p id="notice" class="container-contact-notice">
               We appreciate you contacting us. A member of our team will get back in touch with you soon!
            </p>
            <div class="container-contact-link">
                <a href="/">Return Home</a>
            </div>
        </div>
    </div>
  </div>
</div>