<div class="container-fluid container-terms">
    <p>Featured video's comment with the most upvote wins N15,000</p>
    <p>Most upvoted comment must have at least 10 upvotes</p>
    <p>Featured video must have at least 20 comments from different users</p>
</div>
