@import "bootstrap-sprockets";
@import "bootstrap";
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=PT+Sans'), url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
    /* IE9 */
}

html {
    font-size: 100%;
    position: relative;
    min-height: 100%;
    height: auto !important;
}
body {
    position: initial;
    font-family: 'sans-serif' !important;
    text-decoration: none;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(35,35,35) !important;
    color: white;
    height: 100% !important;
    width: 100% !important;
}
ul.list-inline {
  display: inline-table;
}
.box {
  display: inline-block;
    vertical-align: top;
    margin: 0 -5px 5px 0;
    font-size: 0.923em;
    line-height: 1.333em;
    text-align: center;
    padding: 10px 10px 2px;
    border-radius: 4px;
    width: 300px;
    position: relative;
    z-index: 1;
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

ul.list-inline {
  display: inline-table;
}

ul.list-inline li { 
    width: 270px; 
    height: 300px;
    padding: 0px 10px 0px 10px;  
    list-style:none; 
    text-decoration: none;
}
@media (min-width: 1400px) { 
  ul.list-inline li {
    width: 350px; 
  }
}
@media (min-width: 1900px) { 
  ul.list-inline li {
    width: 270px; 
  }
}
ul.list-inline li a {
    font-size: 14px;
    color: #00488f ;
    background-color: transparent;
    text-align: center;
    float: initial;
    text-decoration: none;
}

.navbar {
  min-height: 55px !important;
  margin-bottom:0;
  border: none !important;
  border-radius: 0px !important;
  outline: none !important;
  position: relative;
  z-index: 99;
  width: 100%;
  &-toggle {
    margin-right: 5px !important;
  }
  &-header {
    position: fixed;
    z-index: 1000;
    float: right;
    display: inline;
    button {
      margin-top: 10px;
    }
  }
  &-container {
    font-family: auto !important;
    position: fixed;
    width: 100%;
    background-color: #1d1818;
    background: transparent;
    .pull-left {
      padding-top: 7px;
      padding-left: 25px;
      // width: 200px;
    }
    .pull-left-zero-padding {
      padding-top: 0px;
    }
    .pull-right {
      text-align: right !important;
      color: #ffffff;
      padding-right: 0px;
      li {
        float: right;
        display: contents;
        a {
          padding-top: 21px;
          color: #ffffff !important;
          background-color: transparent !important
        }
      }
    }
  }
  &-logo {
    color: #66b2b2;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    padding: 0px 0px !important;
    width: 100%;
    background: none !important;
    display: flex !important;
    &-wrapper {
      width: 35px;
      height: 35px;
      overflow: hidden;
      margin-right: 9px;
      img {
        height: inherit;
        width: inherit;
      }
    }
    &-text {
      width: 13rem;
      font-size: 1.8rem;
      color: wheat;
      margin-top: 7px;
    }
    
  }
  &-logo:hover {
    background: none !important;
    color: #66b2b2;
    font-size: 36px;
    font-weight: 900;
    text-decoration: none;
  }
  &-links {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    &-search {
      cursor: pointer;
    }
  }
   &-links:hover {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none !important;
    outline: none !important;
  }
  &-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}
.content {
  display: flow-root;
  &-looping-video {
    width: 100%;
    &-div {
      position: relative;
      video {
        z-index: 0;
        position: relative;
      }
    }
    &-overlay {
      position: absolute;
      z-index: 1;
      left: 25px;
      bottom: 0;
      margin-bottom: 40px;
      font-size: 2.2rem;
      font-weight: 600;
      color: wheat;
      h2 {
        font-size: inherit;
      }
    }
  }
  &-videos {
    // margin-top: 60px;
    display: block;
    position: relative;
    &-watch {
      margin-bottom: 120px;
      .MuiGridList-root {
        justify-content: center !important;
        overflow: scroll !important
      }
      .video-title, .video-date-time, .video-views {
        font-size:  1.1em;
      }
      .video-views { 
        font-size:  1.1em;
        float: right;
      }
      .related-video-views { 
        font-size:  0.7em;
        color: wheat;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      .MuiGridListTile-root {
        flex-shrink: inherit;
      }
    }
    .vp-center {
      height: auto;
    }
    &-header {
      float: left;
      text-align: left;
      font-size: 15px;
      color: wheat;
      margin-left: 11px !important;
      margin-bottom: 15px !important;
      font-weight: 550;
      &-featured {
        margin-top: 60px;
        cursor: pointer;
      }
      &-searched {
        text-align: center;
        float: none;
      }
      &-related {
        text-align: center;
        float: initial;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        font-size: 1.2em;
      }
      &-videos {
        margin-left: 10px;
        margin-right: 10px;
        &-section {
          text-align: justify !important;
          text-align-last: justify !important;
          &-item {
            display: inline-block;
            vertical-align: top;
            margin: 0 -5px 75px 0 !important;
            text-align: center;
            text-align-last: center;
            padding: 10px 10px 2px !important;
            border-radius: 4px;
            width: 300px !important;
            height: auto !important;
            z-index: 1;
          }
          &-related {
            text-align: center;
            text-align-last: center;
            overflow: scroll;
            height: -webkit-fill-available;
          }
        }
      }
    }
    .MuiGridList-root {
      margin: -2px;
      justify-content: space-between;
      margin-left: 10px !important;
      overflow: hidden;
      width: calc(100% - 20px);
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      list-style: none;
    }
    .MuiGridListTile-root {
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .MuiGridListTile-tile {
      height: 100%;
      display: block;
      overflow: hidden;
      position: relative;
    }
    
    @media (max-width: 640px) { 
     .MuiGridList-root {
        justify-content: center;
      }
    } 
  }
}
@media only screen and (max-width: 626px) {
  .content-videos-header-videos-section {
    text-align: center;
  }
}
.featured-video {
  width: 100% !important;
}
.iframe-watch-video {
  width: 100% !important;
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}
div.masked a {
  font-size:14px;
  color:#00488f;
  background-color: transparent;
  text-align:center;
  float:initial;
  text-decoration: none;
  padding:5px 0px 10px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  .terms-privacy {
    display: flow-root;
    margin-bottom: 10px;
    &-terms, &-privacy {
      float: right;
      color: white !important;
      margin-right: 15px;
    }
  }
}
.wrapper {
  position: absolute;
}

input[type="file"]{
  opacity: 0; 
  z-index: 2; 
  position: absolute
}
.fileButton {
  z-index: 1;
  position: relative;
}

.bar {
  display: inline-block;
  position: absolute
}

.progress .bar {
  height:  1.2em;
  color:   white;
}
.well {
  background-color: #FFFFFF;
}
.video-title, .video-date-time {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.2em;
  color: darkgrey;
  font-family: 'Roboto, Arial, sans-serif' !important;
  &-watch {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: wheat;
  }
}
.video-date-time {
  margin-top: 5px;
  color: darkgrey !important;
  font-size: 1.0em;
}
.container-upload-video, .container-contact, .container-terms, .container-new-user, .container-admin-videos, .container-admin-users, .container-video-edit {
  margin-top: 60px;
  .form-group {
    position: relative;
    margin-bottom: 30px !important;
    input, textarea {
      font-size: 17px;
    }
  }
  .form-file {
    margin-bottom: 0px !important;
    display: contents;
  }
  .form-checkbox {
    display: -webkit-box;
    margin-top: 10px;
    &-input {
      width: 30px;
      float: left;
    }
    &-copy { 
      float: left;
      margin-top: 11px;
      color: wheat;
      font-size: 12px;
      a {
        color: #98daef !important
      }
    }
    .error-message {
      position: absolute;
      text-align: center;
    }
  }
  @media (max-width: 768px) { 
    .form-file {
      display: contents;
    }
  } 
  label {
    color: wheat;
  }
  &-message {
    margin-bottom: 80px;
    font-size: 16px;
    font-weight: 600;
  }
  &-notice {
    color: wheat;
    margin-bottom: 0px;
  }
  &-notice-error {
    color: #b94842;
    margin-bottom: 0px;
  }
  &-link {
    margin-top: 20px;
    text-decoration: none !important;
  }
  .file {
    margin-top: 20px;
    height: 62px;
  }
  .actions {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 200px;
    text-align: center;
    .submit {
      background-color: wheat !important;
      border-color: wheat !important;
      outline: wheat !important;
      color: black !important;
      width: 180px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  .actions {
    .submit:hover {
      font-size: 19px;
    }
  }
  .error-message {
    color: #b94842;
    display: contents;
    margin-top: 5px;
    position: fixed;
    align-content: center;
  }
  &-content {
    background-color: white;
    .close-button {
      color: white;
      outline: none;
    }
    &-table {
      &-buttons {
        float: right;
        color: white;
        outline: none;
      }
    }
  }
}
.container-contact {
  margin-top: 60px;
}
.container-terms {
  color: white;
  p {
    margin-bottom: 80px;
    color: #deb887;
  }
  &-address {
    margin-top: 80px;
    display: inline-block;
    margin-bottom: 200px;
  }
  &-youtube {
    font-size: 20px;
    margin-bottom: 10px !important;
    margin-left: 0px;
    color: white !important;
    font-size: 25px;
    &-copy {
      float: left;
    }
  }
}
.pagination {
  margin: 40px 0px 80px 0px !important;
  border: none !important;
  font-size: 0.9rem;
  display: inline-block !important;
  background: none !important;
  a {
    background-color: black !important;
    color: wheat !important;
    border-left-style: none !important;
    display: inline-block !important;
  }
  a:first-child {
    border-left-style: solid !important;
  }
  a:last-child {
    border-right-style: solid !important;
  }
  a.active {
    border: 1px solid #337ab7 !important;
  }
}
.col-zero-padding {
  padding: 0px 0px !important;
}
.disqus-thread {
  margin-top: 10px;
}
.copyright {
  color: wheat;
}
.form-group-custom-margin {
  margin-bottom: 30px !important;
  input, textarea {
    font-size: 17px;
  }
}
.error {
  color: #b20000 !important;
}
.alert-danger {
  font-size: 12px !important;
  margin-top: 5px !important;
}
.submit-contact-message {
  color: wheat;
  font-size: 20px;
}
.alert-warning-forgot-password {
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}
.alert-warning-new-account {
  a {
    text-decoration: none;
  }
}
.preview-video {
  height: 400px !important;
  width: 100%;
}
.search-admin, .search {
  position: fixed;
  padding-left: 0px !important;
  padding-right: 30px;
  .col-form-label {
    display: none;
  }
  .form-search {
    div {
      div {
        float: right;
        width: 300px;
        padding-left: 0px !important;
      }
    }
  }
  .form-group {
    margin-bottom: 0px;
  }
  input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid wheat !important;
    outline: none;
    background: #232323 !important;
    height: 30px;
    opacity: 0.5 !important;
    color: white !important;
    padding: 5px 5px;
  }
}

.fa-search {
  color: #337ab7;
}
.search-admin {
  .form-search {
    div {
      div {
        width: 540px;
      }
    }
  }
}

.search-toggle {
  padding-left: 0px !important;
  margin-top: 10px;
  .col-form-label {
    display: none;
  }
  .form-search {
    div {
      div {
        float: right;
        width: 200px;
      }
    }
  }
  .form-group {
    margin-bottom: 0px;
  }
  input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid wheat !important;
    outline: none;
    background: #232323 !important;
    height: 30px;
    opacity: 0.5 !important;
    color: white !important;
    padding: 5px 5px;
  }
}
.video-views {
  color: wheat;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 0.8em;
}
.originals {
  font-size: 1.7rem !important;
  a {
    text-decoration: none;
    cursor: pointer;
    color: wheat !important;
  }
  a:hover {
    text-decoration: underline;
    font-size: 2rem !important;
  }
}
.navbar-collapse.in {
  overflow:visible !important;
}

.grid-root {

}