@import "bootstrap-sprockets";
@import "bootstrap";

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=PT+Sans'), url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
    /* IE9 */
}

html, body {
    height: 100% !important;
    height: auto;
    margin: 0 auto;
}
html {
    font-size: 100%;
}
body {
    font-size: 12px;
    color: #888888;
    font-family: 'PT Sans', sans-serif;
    background: #000000 url("/assets/background-tile.jpg") repeat;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ul.list-inline li { 
    width: 270px; 
    height: 300px;
    padding: 0px 10px 0px 10px;  
    list-style:none; 
    text-decoration: none;
}
ul.list-inline li a {
    font-size: 14px;
    color: #00488f ;
    background-color: transparent;
    text-align: center;
    float: initial;
    text-decoration: none;
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.navbar {
    margin-bottom:0;
}
ul {
    list-style:none;
    text-align:center;
    padding:0px;
    margin:0px;
}
li {
    display:inline-block;
}
ul:after {
    display:inline-block;
    width:100%;
}
a {
    display:block;
    padding:2px 10px 3px;
}

div.masked a {
  font-size:14px;
  color:#00488f;
  background-color: transparent;
  text-align:center;
  float:initial;
  text-decoration: none;
  padding:5px 0px 10px 0px;
}
.owl-item {
  width: 270px !important;
  padding-left: 10px;
}