@import "bootstrap-sprockets";
@import "bootstrap";

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=PT+Sans'), url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
    /* IE9 */
}

html {
    font-size: 100%;
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Verdana';
    text-decoration: none;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(35,35,35) !important;
}
ul.list-inline {
  display: inline-table;
}
.box {
  display: inline-block;
    vertical-align: top;
    margin: 0 -5px 5px 0;
    font-size: 0.923em;
    line-height: 1.333em;
    text-align: center;
    padding: 10px 10px 2px;
    border-radius: 4px;
    width: 300px;
    position: relative;
    z-index: 1;
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

ul.list-inline {
  display: inline-table;
}

ul.list-inline li { 
    width: 270px; 
    height: 300px;
    padding: 0px 10px 0px 10px;  
    list-style:none; 
    text-decoration: none;
}
@media (min-width: 1400px) { 
  ul.list-inline li {
    width: 350px; 
  }
}
@media (min-width: 1900px) { 
  ul.list-inline li {
    width: 270px; 
  }
}
ul.list-inline li a {
    font-size: 14px;
    color: #00488f ;
    background-color: transparent;
    text-align: center;
    float: initial;
    text-decoration: none;
}

.navbar {
  margin-bottom:0;
  border: none !important;
  border-radius: 0px !important;
  outline: none !important;
  position: relative;
  z-index: 99;
  width: 100%;
  &-collapse.in {
    .pull-right {
      margin-top: 45px !important;
      padding-right: 10px !important;
      text-align: right !important;
    }
  }
  &-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    button {
      margin-top: 18px;
    }
  }
  &-container {
    position: fixed;
    width: 100%;
    background-color: #1d1818;
    background: transparent;
    .pull-left {
      padding-top: 7px;
      padding-left: 25px;
    }
    .pull-right {
      color: #ffffff;
      li a {
        padding-top: 21px;
        color: #ffffff !important;
        background-color: transparent !important
      }
    }
  }
  &-logo {
    color: #66b2b2;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    padding: 0px 0px !important;
    svg {
      width: 200px;
    }
    text {
      fill: wheat !important;
    }
  }
  &-logo:hover {
    background: none !important;
    color: #66b2b2;
    font-size: 36px;
    font-weight: 900;
    text-decoration: none;
  }
  &-links {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
  }
   &-links:hover {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    color: black;
    border: none !important;
    outline: none !important;
  }
  &-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}
.content {
  display: flow-root;
  &-looping-video {
    width: 100%;
    &-div {

    }
  }
  &-videos {
    margin-top: 100px;
    &-watch {
      margin-bottom: 120px;
    }
    &-header {
      float: left;
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      color: wheat;
      margin-left: 25px !important;
      margin-bottom: 15px !important;
      &-featured {
        margin-top: 100px;
      }
      &-related {
        text-align: center;
        float: initial;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        font-size: 1.5em;
      }
      &-videos {
        margin-left: 10px;
        margin-right: 10px;
        &-section {
          text-align: justify;
          text-align-last: justify;
          &-item {
            display: inline-block;
            vertical-align: top;
            margin: 0 -5px 5px 0;
            text-align: center;
            text-align-last: center;
            padding: 10px 10px 2px;
            border-radius: 4px;
            width: 300px;
            z-index: 1;
          }
          &-related {
            text-align: center;
            text-align-last: center;
            overflow: scroll;
            height: -webkit-fill-available;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 626px) {
  .content-videos-header-videos-section {
    text-align: center;
  }
}
.featured-video {
  width: 100% !important;
}
div.masked a {
  font-size:14px;
  color:#00488f;
  background-color: transparent;
  text-align:center;
  float:initial;
  text-decoration: none;
  padding:5px 0px 10px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.wrapper {
  position: absolute;
}

input[type="file"]{
  display: inline-block;
  opacity: 0; 
  z-index: 2; 
  position: absolute
}
.fileButton {
  z-index: 1;
  position: relative;
}

.bar {
  display: inline-block;
  position: absolute
}

.progress .bar {
  height:  1.2em;
  color:   white;
}
.well {
  background-color: #FFFFFF;
}
.owl-stage-outer {
  margin-left: 30px;
  margin-right: 30px;
}
.owl-next {
  right: -15px;
  position: absolute;
  top: 55px;
  background: none !important;
  font-size: 30px !important;
  color: wheat !important;
}
.owl-prev {
  left: -15px;
  position: absolute;
  top: 55px;
  background: none !important;
  font-size: 30px !important;
  color: wheat !important;
}
.video-title, .video-date-time {
  margin-top: 15px;
  font-weight: 500;
  font-size: 1em;
  color: white;
  &-watch {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: wheat;
  }
}
.video-date-time {
  margin-top: 5px;
  color: wheat;
}
.container-upload-video, .container-contact, .container-new-user, .container-admin-videos, .container-admin-users {
  margin-top: 60px;
  label {
    color: wheat;
  }
  &-notice {
    color: wheat;
  }
  &-link {
    text-decoration: none !important;
  }
  .file {
    margin-top: 20px;
    height: 62px;
  }
  .actions {
    margin-top: 40px;
    input {
      background-color: wheat !important;
      border-color: wheat !important;
      outline: wheat !important;
      color: black !important;
      width: 180px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  .actions {
    input:hover {
      font-size: 19px;
    }
  }
}
.container-contact {
  margin-top: 60px;
}
.container-admin-videos, .container-admin-users {
  .video-prop, .user-prop {
    color: wheat;
    &-actions {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .wice-grid-container {
    display: contents;
    .even {
      background-color: #f9f9f9 !important;
    }
  }
}
.pagination {
  li {
    a {
      background-color: black !important;
      color: wheat !important;
      border: 1px solid wheat;
    }
    a:hover {
      border: 1px solid wheat;
    }
    a:active {
      border-color: #337ab7;
    }
  }
  .disabled {
    border-color: wheat !important;
    a, a:hover {
      border-color: wheat;
    }
  }
}
.col-zero-padding {
  padding: 0px 0px !important;
}
.disqus-thread {
  margin-top: 10px;
}
.copyright {
  color: wheat;
}
.form-group-custom-margin {
  margin-bottom: 30px !important;
  input, textarea {
    font-size: 17px;
  }
}
.error {
  color: red !important;
}
.alert-danger {
  font-size: 12px !important;
  margin-top: 5px !important;
}
.submit-contact-message {
  color: wheat;
  font-size: 20px;
}
.alert-warning-forgot-password {
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}
.alert-warning-new-account {
  a {
    text-decoration: none;
  }
}
.preview-video {
  height: 400px !important;
  width: 100%;
}