<div id="bottom-bar">
    <!-- BOTTOM MENU -->
    <div id="back-top"><a href="#top" title="Back top"><span></span></a></div>
    <div class="copyright">&copy; 2015 Afro Renaissance Network</div>
    <div class="top_div">
            <ul class="top_div" style = "float: left">
                <li><%= link_to "About Us", vsubmit_path %></li>
                <li><%= link_to "Subscribe Now", contact_path %></li>
                <li><%= link_to "Terms Of Use", advertise_path %></li>
            </ul>
    </div>
</div>