<div id="bottom-bar">
    <!-- BOTTOM MENU -->
    <div id="bottom-menu" class="box-sizing">
        <ul class="bottom-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Contact</a></li
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Creative Commons</a></li>
        </ul>
    </div>
    <!-- COPYRIGHT -->
    <div class="copyright-box">
        <div class="span-10">
            <a href="/" class="main-logo" title="Tuber - Social Video Theme"></a>
        </div>
        <div id="back-top"><a href="#top" title="Back top"><span></span></a></div>
        <div class="copyright">&copy; Copyright 2013. All Rights Reserved. Medioworks Theme.<br>Tuber Social Video HTML Template</div>
    </div>
</div>