<div class = "navbar navbar-bottom">
    <!-- BOTTOM MENU -->
    <div class="copyright">&copy; 2015 TNM</div>
    <div>
        <ul style = "float: right">
            <li><%= link_to vsubmit_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-film"></span> About Us
            <% end %>
            </li>

            <li><%= link_to vsubmit_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-film"></span> Subscribe Now
            <% end %>
            </li>

            <li><%= link_to vsubmit_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-film"></span> Terms Of Use
            <% end %>
            </li>
        </ul>
    </div>
</div>