<nav class="navbar navbar-inverse" role = "navigation">
    <div class = "container-fluid">
        <!-- <a href="/" class="main-logo"></a> -->
        <ul class="nav navbar-nav pull-right">
        <li><%= link_to new_video_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-film"></span> Submit Video
            <% end %>
        </li>
        <li><%= link_to contact_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-pencil"></span> Contact Us
            <% end %>
        </li>
        <% if logged_in? %>
            <li>
                <%= link_to admin_logout_path, {:style=>'text-decoration:none;', :method => 'delete'} do %>
                <span class = "glyphicon glyphicon-pencil"></span> Log Out
                <% end %>
            </li>
        <% end %>
    </ul>
    </div>
</nav>