<nav class="navbar navbar-inverse" role = "navigation">
    <div class = "container-fluid">
        <!-- <a href="/" class="main-logo"></a> -->
        <ul class="nav navbar-nav pull-right">
        <li><%= link_to vsubmit_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-film"></span> Submit Video
            <% end %>
        </li>
        <li><%= link_to contact_path, {:style=>'text-decoration:none;'} do %>
            <span class = "glyphicon glyphicon-pencil"></span> Contact Us
            <% end %>
        </li>
    </ul>
    </div>
</nav>